@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #FFFAF2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 58px;
}

.card-rating {
  width: 519px;
  height: 471px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px 0px rgba(220, 205, 181, 0.42);
  background-color: #FFF;
  padding: 55px 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-rating-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-rating-title {
  color: #212D59;
  font-size: 18px;
  font-weight: 700;
  line-height: 149.4%;
  text-align: center;
  margin-bottom: 72px;
}

.container-emoticons {
  display: flex;
  gap: 67px;
  margin-bottom: 85px;
}

.card-rating-emoticon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.card-rating-emoticon span {
  opacity: 0.5;
  color: #212D59;
  font-size: 1rem;
  font-weight: 500;
}

.card-rating-btn {
  border: none;
  width: 208px;
  height: 55px;
  border-radius: 5px;
  background-color: #2F2D2C;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
}

.card-feedback {
  width: 402px;
  height: 374px;
  padding: 45px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 10px 45px 0px rgba(191, 124, 95, 0.20);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-feedback-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-feedback-title {
  color: #212D59;
  font-size: 18px;
  font-weight: 700;
  line-height: 149.4%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.card-feedback-text {
  color: #212D59;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 19px;
}

.card-feedback-done {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-feedback-done a {
  opacity: 0.5;
  color: #212D59;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.card-feedback-done button {
  border: none;
  width: 134px;
  height: 55px;
  border-radius: 5px;
  background-color: #2F2D2C;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}