@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #FFFAF2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 58px;
}

.card-rating,
.card-feedback {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-rating {
  width: 519px;
  height: 471px;
  box-shadow: 0px 10px 25px 0px rgba(220, 205, 181, 0.42);
  padding: 55px 97px;
  align-items: center;
}

.card-rating-btn-close,
.card-feedback-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.card-rating-btn-close:hover,
.card-feedback-btn-close:hover {
  transform: scale(1.25);
}

.card-rating-title,
.card-feedback-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 149.4%;
  text-align: center;
  color: #212D59;
}

.card-rating-title {
  margin-bottom: 72px;
}

.container-emoticons {
  display: flex;
  gap: 67px;
  margin-bottom: 85px;
}

.card-rating-emoticon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.card-rating-emoticon span,
.card-feedback-done a {
  font-size: 1rem;
  font-weight: 500;
  color: #212D59;
  opacity: 0.5;
}

.card-feedback-done a:hover {
  transform: scale(1.1);
  opacity: 0.75;
}

.btn {
  border: none;
  height: 55px;
  background-color: #2F2D2C;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}

.btn:hover {
  background-color: #FFF;
  color: #2F2D2C;
  border: 2px solid #2F2D2C;
}

.card-rating-btn {
  width: 208px;
}

.card-feedback {
  width: 402px;
  height: 374px;
  padding: 45px;
  box-shadow: 0px 10px 45px 0px rgba(191, 124, 95, 0.20);
}

.card-feedback-title {
  margin-top: 15px;
  margin-bottom: 40px;
}

.card-feedback-text {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #212D59;
  margin-bottom: 40px;
  padding: 0 19px;
}

.card-feedback-done {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-feedback-done a {
  text-decoration: none;
}

.card-feedback-done .btn {
  width: 134px;
}