@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height: 100vh;
  background-color: #DADDE1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
  padding: 50px 0 59px;
}

.nearby-friends-wrapper {
  width: 666px;
  height: 368px;
  padding: 60px 50px 54px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
}

.nearby-friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.nearby-friends-header-title {
  color: #000;
  font-size: 1.375rem;
  font-weight: 700;
}

.nearby-friends-header-link-all {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  text-decoration-line: underline;
}

.nearby-friends-cards-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 9px;
}

.nearby-friend-card {
  width: 135px;
  height: 195px;
  padding: 25px 35px 10px;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nearby-friend-photo {
  width: 66px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.nearby-friend-name {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 22px;
}

.nearby-friend-add {
  width: 40px;
  padding: 8px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}

.contacts-wrapper {
  width: 451px;
  height: 653px;
  padding: 53px 50px 48px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
}

.contacts-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 55px;
}

.contacts-header-title {
  color: #000;
  font-size: 1.375rem;
  font-weight: 700;
}

.contacts-header-number {
  width: 38px;
  height: 39px;
  padding: 6px;
  color: #040405;
  font-size: 1.375rem;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid #000;
}

.contacts-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 39px;
}

.contact-card {
  display: flex;
  align-items: center;
}

.contact-card-photo {
  width: 66px;
  border-radius: 50%;
}

.contact-data-wrapper {
  margin-left: 20px;
  margin-right: 131px;
}

.contact-card-name {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
}

.contact-card-place {
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
}

.contact-chat-icon {
  cursor: pointer;
}

.contacts-btn {
  border: none;
  width: 165px;
  padding: 18px 30px;
  border-radius: 60px;
  background-color: #000;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.contacts-btn:hover {
  background-color: #FFF;
  color: #000;
  outline: 2px solid #040405;
}